* {
  box-sizing: border-box;
}
:root {
  font-family: "Lucida Console", monospace;
  font-size: 16px;
  background: #333 url("../assets/simple-bg.png");
  color: #333;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
a {
  color: #c33;
  text-decoration: none;
}
a:hover {
  color: #f33;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid #333;
}
#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 50em;
  margin: 0 auto;
  background: #fff;
}
#app > header,
#app > footer {
  flex: 0 0 auto;
  padding: 1em;
  background: #c33;
  color: #fff;
}
#app > header h1,
#app > footer h1 {
  margin: 0;
  padding: 0;
}
#app > main {
  flex: 1 1 auto;
  padding: 1em;
  background: #fff;
}
#app > main #main-text {
  display: block;
  width: 100%;
  height: 16em;
  padding: 1em;
  margin: 1em;
  border: 1px solid #333;
}
#app > main .control-panel {
  display: flex;
  justify-content: center;
}
#app > main .control-panel .button {
  background: #c33;
  color: #fff;
  cursor: pointer;
  width: 20em;
  margin: 1em;
}
#app > main .control-panel .button.disabled {
  background: #999;
}
#app > main .control-panel .button.active {
  animation-name: primary-pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@-moz-keyframes primary-pulse {
  from {
    background-color: #f33;
  }
  to {
    background-color: #fff;
  }
}
@-webkit-keyframes primary-pulse {
  from {
    background-color: #f33;
  }
  to {
    background-color: #fff;
  }
}
@-o-keyframes primary-pulse {
  from {
    background-color: #f33;
  }
  to {
    background-color: #fff;
  }
}
@keyframes primary-pulse {
  from {
    background-color: #f33;
  }
  to {
    background-color: #fff;
  }
}
